title {
    color: white;
}

h1 {
    color: white;
}

#head .tagline {
    color: white;
}
#head .tagline a {
    color: white;
    margin-top: 15px;
}


.pt-50 {
    padding-top: 50px;

}

.pb-50 {
    padding-bottom: 50px;
}


.page-height {
    height: 100vh;
}